*{margin:0;padding:0;}
@font-face{font-family:"Segoe";src:url(../fonts/SEGOE-REGULAR.OTF);}
@font-face{font-family:"Segoe Script";src:url(../fonts/SEGOESC.TTF);}
body{font-family:"Segoe","Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#f2f2f2;}/*#3b426c*//*#42e0c9*/
a,a:hover{text-decoration:none;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
section>.container>div{padding:15px 0 30px;}
section>.container>div+div{border-top:1px dashed #ddd;}
section>.container>div>h2{text-indent:15px;margin:0;font-family:"Segoe";font-size:22px;padding-bottom:15px;padding-top:6px;}
/*common end*/
.navbar-default{
	background-color: #fff;
}
.navbar-default .navbar-nav li a{
	padding: 15px 32px;
	color: #3b426c;
}
.navbar-default .navbar-left li a,.navbar-default .dropdown>a{
	height: 50px;
	line-height: 14px;
	transition: all .5s ease .1s;
	border-top: 3px solid #fff;
	box-sizing: border-box;
}
.navbar-default .navbar-left li:hover a,.navbar-default .dropdown:hover>a{
	border-top: 3px solid #42e0c9;
	box-shadow: 0 0 8px #eee;
}
.navbar-default .navbar-brand{
	padding: 9px 15px;
}
.navbar-default .collapse .navbar-nav>.open>a{
	background-color: #fff;
	box-shadow: 0 0 8px #eee;
}
.navbar-default .dropdown-menu>li:hover>a{
	background-color: #fff;
}
.navbar-default .dropdown-menu>li>a{
	border-left: 3px solid #fff;
}
.navbar-default .dropdown-menu>li>a:hover{
	border-left: 3px solid #42e0c9;
}
.navbar-default .dropdown-menu{
	border: none;
}
/*nav end*/
footer{
	border-top: 1px solid #ddd;
	padding-bottom: 30px;
	background-color: #fff;
}
footer h2{
	font-size: 20px;
	padding: 15px 0;
}
footer .bootstrap,footer .jquery,footer .iconfont{
	display: block;
	height: 70px;
	font-size: 22px;
	font-family:"Segoe Script";
	padding: 10px 15px;
	text-align: center;
	border: 2px dashed #ddd;
	border-radius: 6px;
	line-height: 46px;
	color: #444f52;
	margin: 10px 0 20px;
	transition: all .3s ease .1s;
}
footer .jquery{
	margin-bottom: 10px;
}
footer .links .row a:hover{
	border-color: #42e0c9;
	color: #3b426c;
	box-shadow: 2px 2px 10px #ddd;
}
footer .share{
	height: 80px;
}
footer .octicon{
	margin-top: 26px;
}
footer .bdsharebuttonbox{
	float: right;
	margin-top: 26px;
}
footer .share p{
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	line-height: 20px;
}
/*footer end*/
.album .item{
	display: block;
	background-size: 100% !important;
}
.album .item img,.case .item img{
	width: 100%;
	transition: all .3s ease .1s;
}
.album>div,.case>div{
	padding: 15px;
	transition: all .5s ease .1s;
	border: 1px solid rgba(242,242,242,0);
}
.album>div:hover,.case>div:hover{
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 6px 3px #c8c8c8;
}
.album>div:hover>.info,.case>div:hover>.item>strong{
	color: #3b426c;
}
.album>div>.info,.case>div>.item>strong{
	padding-top: 12px;
	font-size: 16px;
	line-height: 28px;
	color: #333;
	display: block;
	font-weight: bold;
}
.album>div>.info>span{
	font-size: 14px;
	font-weight: normal;
}
.case p{
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.case p em{
	background: url(../images/search_icon.png) no-repeat center;
	width: 70px;
	height: 70px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	transition: all .5s ease .1s;
	transform: scale(0);
	z-index: 2;
}
.case p:before{ 
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	display: block;
	opacity: 0;
	transition: all .3s ease .1s;
	z-index: 1;
}
.case>div:hover>.item>p>img{
	transform: scale(1.2);
}
.case>div:hover>.item>p:before{
	opacity: 1;
}
.case>div:hover>.item>p>em{
	transform: scale(1);
}
/*album case end*/