*{margin:0;padding:0;}
@font-face{font-family:"Segoe";src:url(../fonts/SEGOE-REGULAR.OTF);}
@font-face{font-family:"Segoe Script";src:url(../fonts/SEGOESC.TTF);}
body{font-family:"Segoe","Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#f2f2f2;}/*#3b426c*//*#42e0c9*/
a,a:hover{text-decoration:none;}
ul,ol{list-style-type:none;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.fl{float:left;}
.fr{float:right;}
section>.container>div{padding:0 15px 15px;}
/*section>.container>div+div{border-top:1px dashed #ddd;}*/
section>.container>div>h2{text-indent:30px;margin:0;font-family:"Segoe";font-size:20px;margin-bottom:5px;border-left:3px solid #42e0c9;}
/*common end*/
.navbar-default{
	background-color: #fff;
	margin-bottom: 20px;
}
.navbar-default .navbar-nav li a{
	padding: 15px 32px;
	color: #3b426c;
}
.navbar-default .navbar-left li a,.navbar-default .dropdown>a{
	height: 50px;
	line-height: 14px;
	transition: all .5s ease .1s;
	border-top: 3px solid #fff;
	box-sizing: border-box;
}
.navbar-default .navbar-left li:hover a,.navbar-default .dropdown:hover>a{
	border-top: 3px solid #42e0c9;
	box-shadow: 0 0 8px #eee;
}
.navbar-default .navbar-brand{
	padding: 9px 15px;
	font-size: 20px;
	font-family: "Segoe Script";
	line-height: 32px;
}
.navbar-default .collapse .navbar-nav>.open>a{
	background-color: #fff;
	box-shadow: 0 0 8px #eee;
}
.navbar-default .dropdown-menu>li:hover>a{
	background-color: #fff;
}
.navbar-default .dropdown-menu>li>a{
	border-left: 3px solid #fff;
}
.navbar-default .dropdown-menu>li>a:hover{
	border-left: 3px solid #42e0c9;
}
.navbar-default .dropdown-menu{
	border: none;
}
.navbar-default .navbar-nav .disabled,.navbar-default .navbar-nav .disabled:hover,.navbar-default .navbar-nav .disabled:active,.navbar-default .navbar-nav .disabled:focus{
	color: #cad2d3;
}
/*nav end*/
footer{
	border-top: 1px solid #ddd;
	padding-bottom: 30px;
	background-color: #fff;
}
footer h2{
	font-size: 20px;
	padding: 15px 0;
}
footer .bootstrap,footer .jquery,footer .iconfont{
	display: block;
	height: 70px;
	font-size: 22px;
	font-family:"Segoe Script";
	padding: 10px 15px;
	text-align: center;
	border: 2px dashed #ddd;
	border-radius: 6px;
	line-height: 46px;
	color: #444f52;
	margin: 10px 0 20px;
	transition: all .3s ease .1s;
}
footer .jquery{
	margin-bottom: 10px;
}
footer .links .row a:hover{
	border-color: #42e0c9;
	color: #3b426c;
	box-shadow: 2px 2px 10px #ddd;
}
footer .share{
	height: 80px;
}
footer .octicon{
	margin-top: 26px;
}
footer .bdsharebuttonbox{
	float: right;
	margin-top: 26px;
}
footer .share p{
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	line-height: 20px;
}
/*Baidushare*/
.bdshare-button-style1-16 a{
	/*padding-left: 0 !important;*/
	width: 0;
	background: none !important;
}
.bdshare-button-style1-16 a svg{
	position: relative;
	left: -17px;
}
/*footer end*/
.album .item{
	display: block;
	background-size: 100% !important;
}
.album .item img,.case .item img{
	width: 100%;
	transition: all .3s ease .1s;
}
.album>div,.case>div{
	padding: 15px;
	transition: all .5s ease .1s;
	border: 1px solid rgba(242,242,242,0);
	border-radius: 3px;
	box-shadow: 0 3px 3px 2px rgba(200,200,200,0);
}
.album>div:hover,.case>div:hover{
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 3px 9px 1px #c8c8c8;
}
.album>div:hover>.info,.case>div:hover>.item>strong{
	color: #3b426c;
}
.album>div>.info,.case>div>.item>strong{
	padding-top: 12px;
	font-size: 16px;
	line-height: 28px;
	color: #333;
	display: block;
	font-weight: bold;
}
.album>div>.info>span{
	font-size: 14px;
	font-weight: normal;
}
.case p{
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.case p em{
	background: url(../images/search_icon.png) no-repeat center;
	width: 70px;
	height: 70px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	transition: all .5s ease .1s;
	transform: scale(0);
	z-index: 2;
}
.case p:before{ 
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	display: block;
	opacity: 0;
	transition: all .3s ease .1s;
	z-index: 1;
}
.case>div:hover>.item>p>img{
	transform: scale(1.2);
}
.case>div:hover>.item>p:before{
	opacity: 1;
}
.case>div:hover>.item>p>em{
	transform: scale(1);
}
/*album case end*/
.diary>.col-md-8>ul,.diary>.col-md-4>.card{
	border: 1px solid #e7eaf1;
	border-radius: 3px;
	background-color: #fff;
}
.diary>.col-md-8>ul>li{
	margin: 0 20px;
	padding: 20px 0;
}
.diary>.col-md-8>ul>li+li{
	border-top: 1px dashed #e7eaf1;
}
.diary>.col-md-8>ul>li>p{
	margin: 0;
	color: #999;
}
.diary>.col-md-8>ul>li>h5>a{
	font-size: 16px;
	font-weight: bold;
	transition: all .2s ease .1s;
}
/*.diary>.col-md-4>.card{
	height: 250px;
}*/
.diary>.col-md-4>.card>.title{
	height: 150px;
	background: url(../images/title_bg.png) no-repeat center center;
	background-size: 100%;
	position: relative;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.head-portrait{
	width: 110px;
	height: 110px;
	position: absolute;
	bottom: -52%;
	left: 6%;
	border: 3px solid #fff;
	border-radius: 6px;
	background: url(../images/akita.jpg) no-repeat center center;
	background-size: 100%;
	overflow: hidden;
}
.diary>.col-md-4>.card>.text{
	padding-left: 7%;
	padding-bottom: 20px; 
	width: 100%;
}
.diary>.col-md-4>.card>.text>h5,.diary>.col-md-4>.card>.text>p{
	text-indent: 116px;
	margin: 0;	
}
.diary>.col-md-4>.card>.text>h5{
	font-size: 20px;
	line-height: 30px;
	margin-top: 8px;
}
.diary>.col-md-4>.card>.text>p{
	font-size: 14px;
	color: #999;
	line-height: 20px;
	height: 20px;
}
.diary>.col-md-4>.card>.text>p>a{
	height: 22px;
	display: inline-block;
	text-indent: 6px;
}
.diary>.col-md-4>.card>.text>p>a>span{
	height: 22px;
	display: inline-block;
	float: left;
}
.diary>.col-md-4>.card>.text>p>a>em{
	/*background: url(../images/icon3.png) no-repeat center;*/
	width: 10px;
	height: 22px;
	display: inline-block;
	color: #999;
	float: left;
	transition: all .5s ease-in-out .1s;
}
.diary>.col-md-4>.card>.text>p>a>em>svg{
	height: 22px;
	width: 10px;
	display: block;
}
.diary>.col-md-4>.card>.text>p>.active>em{
	transform:rotate(180deg);
}
.diary .astir-text-box p{
	margin: 0;
	line-height: 50px;
	/*padding-left: 30px;*/
	font-size: 14px;
	opacity: 0;
	transition: all .8s ease-in-out .1s;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 15px;
}
.diary .astir-text-box p span{
	height: 50px;
	display: inline-block;
	float: left;
	padding-right: 8px;
}
.diary .astir-text-box p span svg{
	height: 50px;
}
.diary .astir-text-box .double{
	/*line-height: 25px;*/
	cursor: pointer;
}
.diary .astir-text-box{
	padding-top: 10px;
	height: 0;
	transition: all .3s ease-in-out .1s;
	overflow: hidden;
}
.diary .open{
	height: 208px;
}
.diary .open p{
	opacity: 1;
}
.list-group{
	border-color: #e7eaf1;
	margin-top: 20px;
}
.list-group>a{
	border-color: #e7eaf1;
}
section>.container>.diary{
	padding: 0 0 15px;
}
/*mark*/